<?xml version="1.0" encoding="utf-8" ?>
<root>
	<setting name="repsDir" value=""/>
	<setting name="apiKey" value=""/>
	<setting name="chatId" value=""/>
	<setting name="msbuildPath" value=""/>
	<setting name="gitUsername" value=""/>
	<setting name="gitEmail" value=""/>
	<setting name="gitPassword" value=""/>
</root>